@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;

}

::-webkit-scrollbar {
    width: 0;
}

header {
    background:
        linear-gradient(63deg, rgb(33, 37, 41) 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, rgb(33, 37, 41) 78%),
        linear-gradient(63deg, transparent 34%, rgb(33, 37, 41) 38%, rgb(33, 37, 41) 58%, transparent 62%), rgb(33, 37, 41);
    background-size: 16px 48px;
    background-color: rgb(27, 30, 32);
}

main {
    overflow-x: hidden;
}

pre {
    margin: 0;
}

code {
    padding: 0;
    margin: 0;
}



.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(255, 255, 255, 0.85);
    background-color: rgb(28, 32, 31);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,120,200,.5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(255, 255, 255, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}