<div class="fluid-container p-0">
    <h1 class="fw-bold">Introduction To JavaScript</h1>
    <span class="badge bg-success">Beginner</span>
    <span class="badge bg-info text-dark">Tutorial</span>
</div>

<hr>

<div class="fluid-container p-0 fs-6">
    <h3>What will we learn?</h3>
    <p>
        Welcome to your first introduction to javascript programming. In this tutorial, you will be learn what javascript is used for, what it looks like, and how the logic works.
        In this step by step guide, we will help you learn the following:
    </p>
    <ul>
        <li>How to teach yourself</li>
        <li>How to use javascript</li>
        <li>How to read javascript errors</li>
    </ul>
    <h3>Why learn javascript?</h3>
    <p>
        The best reason to learn javascript is because it is a coding language that is often used in nearly every scenerio of programming. For example, if you'd like to include
        advanced logic into your website, it is recommended that you use javascript. Javascript can be used for both front end and back end programming. For example,
        you can use node with express to host a server, or you can use native javascript to replace certain texts in your html file.
    </p>

    <p>When learning javascript, you must also learn 2 more languages to be able to properly use javascript.</p>
    <ol>
        <li><span class="text-decoration-underline fw-bold">HTML</span> to define the content of web pages</li>
        <li><span class="text-decoration-underline fw-bold">CSS</span> to specify page layout as well as styling</li>
        <li><span class="fw-bold">JavaScript</span> to program the logic and behavior of the website</li>
    </ol>

    <h3>Commonly Asked Questions</h3>

    <ul>
        <li>is JavaScript easy to learn</li>
        <li>Where can I download javaScript</li>
        <li>Why should I use JavaScript over other languages</li>
    </ul>

    
    <p class="fw-bold">Using JavaScript is one of the easiest languages to learn for basic logic structures and advanced structures. Learning JavaScript is very easy.</p>
    <p class="fw-bold">JavaScript is immediately embeded into any .HTML file. However, you can also make a "Module" script with the file extension (File Type) ending with ".js"</p>
    <p class="fw-bold">JavaScript is not only very easy to learn, but also one of the more useful languages to learn when dealing with website development. For example, you need to learn JavaScript to be able to learn reactJS, nodeJS, and many more amazing modules.</p> 

    <h3>How to add and use JavaScript</h3>

    <p>To add JavaScript code into your website, you need to use the following syntax: </p>
</div>

<pre class="fluid-container rounded p-0 text-break fs-6" style="background-color: #1a1b26;">
    <code class="<%= locals.language ? `language-${locals.language}` : ""%>" style="padding: 0; padding-left: 1rem;"><textarea disabled>
<!DOCTYPE html>

<html lang="en">
    <head>
        <script type="application/javascript">
                            //JavaScript Code Goes Here
                   </script>
    </head>
    <body>
        ...
    </body>
</html></textarea></code>
</pre>

<div class="fluid-container p-0 fs-6">
    <p>
        When you add the <span class="fw-bold text-decoration-underline">&lt;script></span> tag, you are defining a new block of embeded JavaScript. This block is where 
        you will type all of your JavaScript programming. There are other ways to use javascript. For example, you are able to make a sepeerate file with the extension of
        "js". This would represent a JavaScript module.
    </p>
</div>